include includes/header.jade

  .wrapper 
    header
      img(src='assets/img/large__s.svg', alt='Logo', class='large__logo')
      img(src='assets/img/serenidad.svg', alt='Logo', class='small__logo')

      .slogan Hier kommt ein toller Satz rein. Oder auch zwei

      nav
        ul
          li
            a(href='http://www.instagram.com/annekul')
              img(src='assets/img/instagram.svg', alt='Instagram', class='instagram')
          li
            a(href='http://www.pinterest.com/annekul')
              img(src='assets/img/pinterest.svg', alt='pinterest', class='pinterest')
  
  section.container

    article.home__teaser

      section.home__teaser__img
        img(src='http://placehold.it/700x400', alt='Testbild')

      section.home__teaser__text
        h2 Eine Überschrift
        h3 Ein Teaser

    article.home_teaser__rtl

      section.home__teaser__img
        img(src='http://placehold.it/700x400', alt='Testbild')

      section.home__teaser__text
        h2 Eine Überschrift
        h3 Ein Teaser
        p Nur ein Test

    article.home__teaser

      section.home__teaser__img
        img(src='http://placehold.it/700x400', alt='Testbild')

      section.home__teaser__text
        h2 Eine Überschrift
        h3 Ein Teaser

    article.home_teaser__rtl

      section.home__teaser__img
        img(src='http://placehold.it/700x400', alt='Testbild')

      section.home__teaser__text
        h2 Eine Überschrift
        h3 Ein Teaser

  

  include includes/footer.jade