// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Root document size. Base for rems
$root-size: 16px;




/// Regular font family
$text-font-stack: 'acumin-pro', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Head font family
$head-font-stack: 'acumin-pro-wide', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;




/// Font weight
$text-font-weight: 400;
$head-font-weight: 300;




/// Copy text color
$text-color: #1c212e !default;

/// Main brand color - Gold
$brand-color: #d3ae29 !default;

/// Light grey
$light-grey: #f2ede5 !default;

/// Medium grey
$mid-grey: #cecac3 !default;

/// Dark grey
$dark-grey: #5e6a72 !default;





/// Container's maximum width
/// Below that is 100%
$max-width: 75rem !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 20rem),
  'medium': (min-width: 48rem),
  'large': (min-width: 64rem),
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
